/* ==========================================.............................................
    BUILTINTHEME
-----------------------------------------------======================================== */
/* ===========================----COLOR VARIABLES----================================== */
    :root{

        --cover-Vib1:      255, 103, 235 ; /* first vibrant color ("vibrant" color doesn't really have to be very saturated, it's just what the variable is called)*/
        --cover-DVib1:     2, 0, 14      ; /* darker version of first vibrant color*/
        --cover-LVib1:     253, 184, 255 ; /* lighter version of first vibrant color*/

        --cover-Vib2:      179, 207, 255 ; /* second vibrant color (can be the same as the first if you're going for a monochromatic dealy)*/
        --cover-DVib2:     0, 7, 67      ; /* darker version of second vibrant color*/
        --cover-LVib2:     180, 228, 255 ; /* lighter version of second vibrant color*/

        --cover-Mut1:      120, 120, 120 ; /* muted color (these barely show up they're kind of a holdover from when this theme was fully covertheme compatible)*/
        --cover-DMut1:     2, 0, 14      ; /* darker version of muted color*/
        --cover-LMut1:     239, 188, 236 ; /* light version of muted color*/

        --cover-F00T:      180, 213, 255 ; /*footer color (not now-playing)*/
        --cover-F00TBAR1:  253, 141, 246   ; /*footer progress bar color (not now-playing)*/
        --cover-F00TD:     0, 7, 67      ; /*darker version of F00T color*/
        /*bhdf doesnt do nuthin it's just here to make color picking easier*/
        --bhdf:    rgb(77, 190, 255);

        --carddelay: -230ms; /*controls delay for the hover animation for the album/playlist cards, what looks "right" weirdly depends on the colors you're using. usually somewhere between -200ms and -300ms*/

        --cover-S1D3B4R:  color-mix(in srgb, rgb(255, 255, 255) 34% , rgb(var(--cover-Vib1), 1) 66%); /*controls sidebar background-color*/

        --sephue: 267deg; /*controls sidebar album colorization & artist page top picture colorization, adjust to the color you want*/

        --plylstsat: 2.1; /*controls backdrop-saturation for most inner containers, such as the album or playlist tracklist*/
        --plylstbrt: 1.1; /*controls backdrop-brightness for most inner containers, such as the album or playlist tracklist*/
        --plylstbrdr: color-mix(in srgb, color-mix(in srgb, rgb(var(--cover-Vib1), 1) 66% , rgba(233, 255, 235, 1)  34%)60% , rgb(var(--cover-LVib1),1)  40%); /*controls border-color for most inner containers, such as the album or playlist tracklist*/

        --feedsat: 1.85; /*controls backdrop-saturation for home feed inner container*/
        --feedbrt: 1.1; /*controls backdrop-brightness for home feed inner container*/
        --feedbrdr: color-mix(in srgb, color-mix(in srgb, rgb(var(--cover-Vib1), .9) 60% , rgba(255, 255, 255, 0.9)  40%)72% , rgb(var(--cover-LVib1),.9)  28%); /*controls border-color for home feed inner container*/

        /*selected track colors*/
        --tracksel1: color-mix(in srgb, rgb(var(--cover-Vib2),.35) 90% , rgb(var(--cover-LVib2),.3) 10%); /*selected track animated gradient color 1*/
        --tracksel2: color-mix(in srgb, rgb(var(--cover-Vib1),.35) 60% , rgb(var(--cover-LVib2),.25) 40%); /*selected track animated gradient color 2*/
        --trackselshad: rgb(var(--cover-DVib1),.09); /*selected track inset shadow color*/
        --trackseltxt: color-mix(in srgb, rgb(var(--cover-DVib1),1) 10% , black 90%); /*selected text color*/
        --tracksborder : rgb(255, 193, 246); /*tracklist divider line color; should be fully opaque*/
        /*home page top tab thingies (not like the "for you," or "staff picks" buttons, this is for the six big rectangles below those)*/
        --v1: rgb(255, 109, 240); /*should vaguely match --cover-Vib1*/
        --v2: rgb(112, 183, 255); /*should vaguely match --cover-Vib2*/
        /*MAIN BUTTONS (PLAY / SHUFFLE BUTTONS BUT ALSO OTHER STUFF SOMETIMES)*/
        --but1: rgb(255, 115, 227);
        --but2: rgb(125, 155, 255);}
/* ===========================----BACKGROUND TEXURES----=============================== */
/*playlist view background image remover*/
div._dataContainer_5bb6028::before,div._dataContainer_7feb4a2::before,div._dataContainer_66f4f40::before{background-image: none;}
/*now playing background*/
._background_42cea4e{
     backdrop-filter: blur(4em) brightness(1.46) saturate(1.3);
background-color: #ffa8ed00!important;
    background: linear-gradient(var(--rotate), #ff8fdbb4,#ed92ffbf,#ff91e3b1, #8fb4ffb0, #87a7ffbb
    ,#ff8ae2bb, #ff92f2ba,#ff91f0b3, #8ab1ffba, #94b4ffb3, #8fa5ffb2);
    background-size: 350% 350%;
    animation: rotate-gradient 102s cubic-bezier(.29,.44,.67,.56) infinite;}
#nowPlaying {background-color: #ffe9ff32;
background-image:  radial-gradient(#06002519 112px, transparent 322px), radial-gradient(#04001c4b 15px, #02001748 612px);
background-size: 800px 800px;background-position: 0 0,400px 400px;}
/*main bg (gradients stack from bottom to top)*/
:root{
    --Vibby: 145, 182, 255;
    --DVibby: 33, 16, 96;
    --LVibby: 255, 126, 240;
    --LMitty: 255, 255, 255;
    --DMitty: 85, 50, 103;
    --bhdf:    rgb(145, 182, 255);
}

._mainContainer_6519c30{
    background-color: rgb(0, 0, 0);
    background-image: 
linear-gradient(180deg, rgba(255, 255, 255, 0.275), rgba(255, 255, 255, 0.35)),
radial-gradient(ellipse at top left,color-mix(in srgb,rgb(var(--Vibby),0.3) 85%, rgb(var(--DVibby),0.1) 15%),rgb(var(--DMitty),0.02)70%),
radial-gradient(ellipse at center left,rgb(var(--Vibby),.25),transparent 22%),
radial-gradient(circle at center right,rgb(var(--LVibby),.8),transparent 43%),
radial-gradient(ellipse at top left, rgb(var(--LVibby),0.7) ,  rgb(var(--Vibby),0.275)    ,rgba(0, 128, 0, 0) 90%),
radial-gradient(ellipse at bottom left,rgb(var(--LVibby),1),rgb(var(--LMitty),0.0) 70%),
radial-gradient(ellipse at top right,color-mix(in srgb,rgb(var(--Vibby),0.4) 50%, rgb(var(--DVibby),0.1) 50%),rgb(var(--LMitty),0.3) 70%),
radial-gradient(ellipse at center right,rgb(var(--Vibby),0.7),rgb(var(--LMitty),0.0) 70%),
radial-gradient(ellipse at bottom right,rgb(var(--Vibby),0.4),transparent 80%),
radial-gradient(ellipse at top center ,color-mix(in srgb,rgb(var(--Vibby), 1) 40%, rgb(255, 255, 255) 60%),transparent 110%)
,linear-gradient(180deg, rgb(219, 219, 219))
!important;}

._fullscreen_236d61b{
background-color: rgb(var(--cover-Vib1)); }
._main_a5d9f44{ background-color: #ff000000!important;
background: none!important;}

/*sidebar album filters (remove hue-rotate to disable colorization effect, but i still recommend adding desaturation or lower brightness for the hover to be noticible since i removed the hover background-color)*/
[class="_sidebarWrapper_2f256ce"]{._thumbnail_f82abfa img{filter: sepia(1) hue-rotate(var(--sephue)) saturate(1) brightness(.95); transition: 0ms;}}

/* ==========================================.............................................
   END OF BUILTINTHEME
-----------------------------------------------======================================== */