[class="_sidebar_4927556 _newSidebar_f871cc1"]{
._marketText_1lyag_1._medium20_1lyag_192 {
        color: rgba(0, 0, 0, 0.9)!important;}
._marketText_1lyag_1._text20_1lyag_291{
     color: rgba(0, 0, 0, 0.75)!important;}
    [class="_navigationItem_4e9deae"]{
._marketText_1lyag_1{
    color: var(--vv)!important;}}
[class="_navigationItem_4e9deae"]:hover{
._marketText_1lyag_1{
    color: rgb(var(--cover-Vib1))!important;}}}
